In [54]:
import pandas as pd
import string
from nltk.corpus import stopwords
from nltk import word_tokenize
import warnings
warnings.filterwarnings('ignore')
from nltk.stem import PorterStemmer

In [5]:
df = pd.read_csv('C:/users/akash/downloads/fake reviews dataset.csv')
df.head()

,category,rating,label,text_
0,Home_and_Kitchen_5,5.0,CG,"Love this! Well made, sturdy, and very comfor..."
1,Home_and_Kitchen_5,5.0,CG,"love it, a great upgrade from the original. I..."
2,Home_and_Kitchen_5,5.0,CG,This pillow saved my back. I love the look and...
3,Home_and_Kitchen_5,1.0,CG,"Missing information on how to use it, but it i..."
4,Home_and_Kitchen_5,5.0,CG,Very nice set. Good quality. We have had the s...

In [7]:
df.isnull().sum()

category    0
rating      0
label       0
text_       0
dtype: int64

In [8]:
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 40432 entries, 0 to 40431
Data columns (total 4 columns):
 #   Column    Non-Null Count  Dtype
---  ------    --------------  -----
 0   category  40432 non-null  object
 1   rating    40432 non-null  float64
 2   label     40432 non-null  object
 3   text_     40432 non-null  object
dtypes: float64(1), object(3)
memory usage: 1.2+ MB

In [10]:
df['rating'].value_counts()

5.0    24559
4.0     7965
3.0     3786
1.0     2155
2.0     1967
Name: rating, dtype: int64

In [26]:
def remove_punctuation(text):
    nonpunc = [w for w in text if w not in string.punctuation]
    nonpunc = ''.join(nonpunc)
    return ' '.join([word for word in nonpunc.split() if word not in stopwords.words('english') and not word.isdigit()])

In [27]:
df['text_'][0],remove_punctuation(df['text_'][0])

('Love this!  Well made, sturdy, and very comfortable.  I love it!Very pretty',
 'Love Well made sturdy comfortable I love itVery pretty')

0    Love this!  Well made, sturdy, and very comfor...
1    love it, a great upgrade from the original.  I...
2    This pillow saved my back. I love the look and...
3    Missing information on how to use it, but it i...
4    Very nice set. Good quality. We have had the s...
Name: text_, dtype: object

In [32]:
df['text_'] = df['text_'].astype(str)

In [34]:
df['text_'].head()

0    Love this!  Well made, sturdy, and very comfor...
1    love it, a great upgrade from the original.  I...
2    This pillow saved my back. I love the look and...
3    Missing information on how to use it, but it i...
4    Very nice set. Good quality. We have had the s...
Name: text_, dtype: object

In [49]:
df['text_'][:] = df['text_'][:].apply(remove_punctuation)

In [50]:
df['text_'].tail()

40427    I read reviews saying bra ran small I ordered ...
40428    I wasnt sure exactly would It little large sma...
40429    You wear hood wear hood wear jacket without ho...
40430    I liked nothing dress The reason I gave stars ...
40431    I work wedding industry work long days feet ou...
Name: text_, dtype: object

In [52]:
df['text_'] = df['text_'].str.lower()
df['text_'].head()

0    love well made sturdy comfortable i love very ...
1      love great upgrade original i mine couple years
2       this pillow saved back i love look feel pillow
3        missing information use great product price i
4         very nice set good quality we set two months
Name: text_, dtype: object

In [59]:
stemmer = PorterStemmer()
def stem_words(text):
    return ' '.join([stemmer.stem(word) for word in text.split()])
stem_words(df['text_'][4])
df['text_'] = df['text_'].apply(lambda text:stem_words(text))

In [60]:
df.head()

,category,rating,label,text_
0,Home_and_Kitchen_5,5.0,CG,love well made sturdi comfort i love veri pretti
1,Home_and_Kitchen_5,5.0,CG,love great upgrad origin i mine coupl year
2,Home_and_Kitchen_5,5.0,CG,thi pillow save back i love look feel pillow
3,Home_and_Kitchen_5,1.0,CG,miss inform use great product price i
4,Home_and_Kitchen_5,5.0,CG,veri nice set good qualiti we set two month

In [61]:
df.to_csv('preprocessed_fake_review_dataset')